@charset "utf-8";
/* CSS Document */
/*全局定义*/
* { font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
body{font-size:75%;}
* { padding: 0; margin: 0; outline: 0; }
ul, li { list-style: none; }
a, a:link { text-decoration: none; }
img { border: 0; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

body{*position:relative;}


/*首页样式定义*/
.font-size-10{font-size:10px;}
.font-size-12{font-size:12px;}
.font-size-14{font-size:14px;}
.font-size-22{font-size:22px;}
.font-size-30{font-size:30px;}
.font-color-white{color:#fff;}
.font-color-gray{color:#797979;}
.font-color-blue{color:#10d0e7;}
.font-color-top{color:#bfbfbf;}
.font-color-top-blue{color:#6fc6e6;}
.font-color-top-green{color:#afd96e;}
.font-color-top-yellow{color:#f3dd79;}
.font-color-top-red{color:#f57e6a;}
.font-color-orange{color:#e67c47;}

.box{
	/*width:1155px;*/
	margin:10px;
    /*border:1px solid black;*/
	}
.box .top{
    width:100%;
    height:100px;
}
.box .top-1{
    width:23.5%;
    margin-left:2%;
    float:left;
}
.box .top-2{
    width:18%;
}
.box .top-3{
    width:29%;
}
.left{
    width:40%;
    height:100px;
    float:left;
    background:url("../Content/image/new user.png") no-repeat center center,#6fc6e6; 
    border:1px solid #6fc6e6;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.left-1{
    width:35%
}
.left-2{
    background:url("../Content/image/new sales.png") no-repeat center center,#afd96e;
    border:1px solid #afd96e;
}
.left-3{
    background:url("../Content/image/new num.png") no-repeat center center,#f3dd79;
    border:1px solid #f3dd79;
}
.left-4{
    background:url("../Content/image/new rmb.png") no-repeat center center,#f57e6a;
    border:1px solid #f57e6a;
}
.right{
    width:58%;
    height:80px;
    padding-top:20px;
    float:left;
    text-align:center;  
    border-top:1px solid #e8e8e8;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px; 
}
.right-1{
    width:63%
}
.report{
    width:100%;
    margin-top:20px;
    clear:both;
}
.bar-1{
    width:68%;
    height:333px;
    float:left;
}
.report-r{
    width:31%;
    margin-left:1%;    
    float:left;
}
.line{
    width:100%;
    height:156px;
    border-radius:5px;
    display:block;
}
.bar-2{
    width:100%;
    height:156px;
    margin-top:20px;
    display:block;
    border-radius:5px;
}
.notice{
    width:49%;
    border:1px solid #e8e8e8;
    border-radius:5px;
    border-collapse: separate;
    border-spacing: 0px;
    margin-top:20px;
    float:left;
}
.notice .td-1{
    height:45px;
    border-bottom:1px solid #dbdbdb;
    padding-left:15px;
    
}
.notice .td-2{
    width:60%;
    height:40px;
    border-bottom:1px solid #e9e9e9;
    padding-left:15px;
}
.notice .td-3{
    width:25%;
}
.notice .td-4{
    width:15%;
}
.notice .td-5{
    width:24%;
}
.notice .td-6{
    width:28%;
    word-wrap: break-word;
    padding:3px 0;
}
.notice .td-7{
    width:20%;
}
.notice .td-8{
    width:12%;
}
.notice .td-9{
    width:45%;
    word-wrap: break-word;
    padding:3px 0 3px 10px;
}
.notice .td-10{
    width:40%;
}
.notice .green{
    width:50px;
    height:23px;
    vertical-align:middle;
    margin-left:10%;
    border-radius:30px;
    background:#afd96e;
    display:block;
    text-align:center;
    line-height:23px;
}
.notice .gray{
    background:#d4d4d4;
}
.notice .blue{
    background:#6fc6e6;
}
.notice .red{
    background:#f57e6a;
}

@media screen and (min-width:1280px) and (max-width:1439px) {
    .box{ zoom: 0.93; /*transform: scale(0.93);*/ margin:auto;}
    /*.box{
        margin-left:-25px;
        margin-top:-8px;
    }*/
}
@media screen and (max-width:1279px){
    .box{
        zoom:0.85;
        /*transform:scale(0.85);*/
        margin:auto;
    }
    /*.box{
        margin-left:-75px;
        margin-top:-32px;
    }*/
}



/*弹窗样式*/
.cpm{
	width:512.5px;
	height:297px;
	position:absolute;
	right:0;
	bottom:0;
	border-left:1px solid #76bbe6;
    border-right:1px solid #76bbe6;
    border-bottom:1px solid #d4d4d4;
	border-top:1px solid #76bbe6;
	background-color:#ffffff;
	color:#ffffff;
    border-radius:5px 5px 0 0;
	}
/*cmp*/ .close{
	position:absolute;
	width:16px;
	height:16px;
	right:0;
	bottom:288px;
	z-index:99;
	background-image:url(image/indexclose.png);
    cursor:pointer;
	}
.cpm .nav{
	display:inline-block;
	*display:inline;
	-zoom:1;
	}
.cpm .nav li{
	float:left;
    cursor:pointer;
}
.cpm .nav li:first-child{
	border-left:none;}
.cpm .nav .nor{
	width:102.5px;
	height:45px;
	float:left;
	line-height:45px;
	text-align:center;
	color:#ffffff;
    background-color:#76bbe6;
	/*border-bottom:1px solid #58b0e8;
	border-right:1px solid #f1f1f1;
    border-top:1px solid #58b0e8;*/
	}
.cpm .nav .nor-1{
    border-right:none;
}
/*.cmp .nav li*/.cpm .nav .active{
	/*border-bottom:1px solid #ffffff;*/
	/*border-top:3px solid #58b0e8;*/
	width:102.5px;
	height:43px;
	float:left;
	line-height:45px;
	text-align:center;
	color:#76bbe6;
	/*border-right:1px solid #58b0e8;
	border-left:1px solid #58b0e8;*/
	}
.cpm p{
	height:40px;
	width:385px;
	/*border-bottom:1px solid #ebebeb;*/
	line-height:40px;
	padding-left:25px;
    cursor:pointer;
	/*color:#a0a1a5;*/
	}
/*.cpm p */.remind{
	color:#6c6b77;
	}
.cpm .notice-item {
    color:#6c6b77;
}
.cpm .notice-item:hover{
	/*color:#ffffff;*/
    background-color:#ececec;
}


/*公告滚动*/
/*ul, li {
    list-style: none;
}*/

.box-notice {
    height: 35px;
    overflow: hidden;
    margin:20px;
}

.t_news {
    height: 19px;
    color: #fff;
    padding-left: 10px;
    margin: 8px 0;
    overflow: hidden;
    position: relative;
}

    .t_news b {
        line-height: 19px;
        font-weight: bold;
        display: inline-block;
    }

.news_li, .swap {
    line-height: 19px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 40px;
}

    .news_li a, .swap a {
        color: #3b3a48;
    }

.swap {
    top: 19px;
}

.icon_title{
    background:url("image/icon_notice.png") no-repeat;
    background-size:18px;
    display:block;
    width:20px;
    height:20px;
}

/*首页列表*/
.index-list{
    width:97%;
    padding:30px 20px 20px 20px;
    display:table;
}

.table-content{
    width:49%;
    border:1px solid #eaeaea;
    border-radius:5px;
    float:left; 
    margin-top:20px;
}

.table-height{
    min-height:237px;
}

.index-table{
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
}

.index-table td{
    padding:10px;
    border-bottom:1px solid #eaeaea;
}

.index-table-top{
    border-bottom:1px solid #eaeaea;
    margin:0;
    padding:10px 0;
    display:table;
    width:100%;
}

.table-title{
    text-align:left;
    font-weight:400;
    background:url("image/icon_notice.png") no-repeat 15px center;
    background-size:16px;
    padding-left:46px;
    float:left;
}

.icon_warning{
     background:url("image/icon_warning.png") no-repeat 15px center;
     background-size:16px;
}

.icon_order{
     background:url("image/icon_order.png") no-repeat 15px center;
     background-size:16px;
}

.icon_remind{
     background:url("image/icon_remind.png") no-repeat 15px center;
     background-size:16px;
}

.icon_price{
     background:url("image/icon_price.png") no-repeat 15px center;
     background-size:16px;
}

.table-content .text1{
    text-align:center;
}

.table-content .text2{
    color:#a1a6af;
    float:right;
    padding-right:15px;
}

.table-content .text2:hover{
    color:#6fc6e6;
}

.index-table tr:hover{
    background:#e0e9fb;
}

.index-table tr:first-child:hover{
    background:none;
}

.index-table .status-button{
    display: block; 
    width: 50px; 
    height: 20px; 
    color: #fff; 
    font-size: 10px; 
    border-radius: 20px; 
    background: #6fc6e6;
    text-align:center;
    line-height:20px;
    margin:auto;
}

.index-table .status-button-green{
    background:#afd96e;
}

.tab-menu{
    border-bottom:1px solid #eaeaea;
    margin:0;
    width:100%;
    display:table;
}

.tab-menu a{
    width:80px;
    text-align:center;
    display:table;
    float:left;
    padding:10px 0;
    cursor:pointer;
}

.selected{
    border-bottom:2px solid #6fc6e6;
}

.tab-content{
    min-height:197px;
}

.admin-content{
    border: 1px solid #eaeaea;
    border-radius:5px;
    display:table;
    width:99%;
    padding:20px 0 30px 0;
}

.admin-content td{
    width:14%;
    float:left;
    display:table;
    text-align:center;
    padding-top:15px;
    font-size:14px;
    cursor:pointer;
}

.admin-text{
    margin-left:5%;
    font-family:'Microsoft YaHei'
}

.data-none{
    text-align:center;
    border-bottom:none;
    padding:50px;
    color:#c6c6c6;
}