/**
 * Created by Administrator on 15-9-18.
 */
html,body{
    display: block;
    height: 100%;
    width:100%;
    /*
        overflow: hidden;
        background: url(../images/background.jpg) no-repeat 50% 50%;
    */
    margin:0;
    padding:0;
}
body{
    font-size: 12px;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

body{
    /*width:1024px;
    height: 768px;*/
    overflow: hidden;
    position: relative;
    background: url(../images/background.jpg) no-repeat 0 0;
}
button,input,textarea,select{
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.p-head{
    position: absolute;
    top:14px;
    left:14px;
    right: 14px;
    height: 50px;
    background-color:rgba(255,255,255,0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.p-head-title{
    font-size: 20px;
    color: #c9452b;
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 14px;
}
.p-notice{
    color: #707070;
    font-size:14px;
    text-align: right;
    line-height: 50px;
    padding-right: 14px;
    float: right;
}
.p-notice label{
    float: right;
}
.p-notice ul,.p-notice li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.p-notice ul {
    float: right;
    height: 50px;
    overflow:hidden;
}
.p-notice li{
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.p-head-menu{
    line-height: 50px;
    height: 50px;
    float: right;
    color: #c9452b;
    width: 50px;
    text-align: center;
}
.p-head-menu .iconfont{
    font-size: 36px;
}
.p-loginOut{
    bottom: 20px;
    height: 50px;
    line-height: 50px;
    background-color: #c9452b;
    color:#fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    left: 20px;
    right: 20px;
}
.p-loginOut i{
    font-size: 22px;
    margin-right: 2px;
}
.p-menuBox{
    display: none;
    width: 200px;
    padding:20px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    z-index: 100;
    background: #91A3B7;
}
.p-menu{
    position: absolute;
    left:20px;
    top: 93px;
    bottom: 90px;
    width: 200px;
    background-color:rgba(255,255,255,0.70);
    border-radius:  0 0 5px 5px;
    -webkit-border-radius:  0 0 5px 5px;
}
.p-menu ul,
.p-menu li{
    margin:0px;
    padding:0px;
    list-style: none;
}
.p-menu ul{
    padding: 5px;
    overflow: hidden;
}
.p-menu li{
    float: left;
    width:50%;
    font-size: 16px;
    color: #243039;
    margin: 10px 0;
}
.p-menu-item{
    padding-left:  10px;
    border-right:1px #ccc solid;
}
.p-menu-item span{
    line-height: 29px;
    position: relative;
    padding-bottom: 20px;
    bottom:-10px;
    border-bottom:1px #ccc solid;
    display: block;
}
.p-menu li .iconfont{
    margin-right: 2px;
    font-size: 22px;
    color: #243039;
}
.p-menu li .p-menu-noRt{
    border-right:0;
}
.p-menu li .p-menu-noBt{
    border-bottom:0;
}
.p-menuToggle{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 200px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background-color: rgba(255,255,255,0.70);
    padding-top: 10px;
    height: 53px;
}
.p-menuToggle .iconfont{
    font-size: 48px;
    color: #46525A;
}
.p-order{
    position: absolute;
    top:77px;
    left: 14px;
    right: 14px;
    bottom:187px;
}
.p-grid{
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
    height: 100%;
}
.p-order .p-grid-bd td{
    padding-top:20px;
    padding-bottom: 20px;
}
.p-order .prdNum{width: 40px;text-align: center}
.p-order .prdCode{width: 100px;}
.p-order .prdName{}
.p-order .prdCount{width: 100px;text-align: center}
.p-order .prdUnit{width:60px;text-align: center}
.p-order .prdPrice{width: 80px;text-align: center}
.p-order .prdPriceDiscount{width: 100px;text-align: center}
.p-order .prdSubtotal{width:85px;text-align: center}
.p-order .prdOper{
    width: 0px;
    position: relative;
}
.p-order .p-grid-bd .prdOper .iconfont{
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    background:#C9452B;
    width:85px;
    height: 100%;
    color: #fff;
    font-size:21px;
}
.p-order .p-grid-bd .prdOper .iconfont:before{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -12px;
    margin-left: -12px;
}
.p-grid-hd{
    height: 42px;
    line-height: 42px;
    background-color:rgba(0,0,0,0.4);
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
}
.p-grid-bd{
    background: #fff;
    color: #33363f;
    position: absolute;
    top:42px;
    bottom:0;
    width: 100%;
    overflow:auto;
    border-radius:0 0  5px 5px ;
    -webkit-border-radius:0 0  5px 5px ;
}
.p-grid-bd tr.selected{
    background: #fffded;
}

.p-grid-bd tr td{
    border-bottom: 1px dashed #ddd;
}
.p-grid-bd tr:last-child td{
    border:0;
}
.p-grid-bd .p-btn{
    padding:0 10px;
    line-height: 20px;
}
.p-table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.p-addMinus{
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
}
.p-addMinus .add{
    float: left;
    font-size: 16px;
    width: 20px;
    height: 24px;
    text-align: center;
    margin: 0;
    color: #789D5E;
}
.p-addMinus .txt {
    margin: 0;
    float: left;
    border: 1px #dedede solid;
    height: 24px;
    width: 24px;
    text-align: center;
}
.p-addMinus .minus {
    float: left;
    font-size: 16px;
    margin: 0;
    width: 20px;
    height: 24px;
    text-align: center;
    color: #CC5554;
}
.prd-name{
    font-size: 14px;
    color:#2d3031;
}
.prd-rebate{
    background: #C6E6B1;
}
.p-operate{
    position: absolute;
    background-color:rgba(255,255,255,0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 138px;
    width: 272px;
    right: 14px;
    bottom:36px;
}
.p-operate .p-btn{
    float: left;
}
.p-operate .sumBtn{
    margin:10px;
    width: 110px;
    height: 118px;
}
.p-operate .cancelBtn{
    margin:10px 10px 10px 0;
    width: 130px;
    height: 65px;
}
.p-operate .zkBtn{
    margin:0px 10px 10px 0;
    width: 130px;
}
.p-summary{
    position: absolute;
    height: 122px;
    right: 300px;
    left:328px;
    bottom:36px;
    background-color:rgba(255,255,255,0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:8px;
}
.p-summary ul,
.p-summary li{
    margin:0;
    padding:0;
    list-style: none;
    color: #000;
    font-size: 14px;
}
.p-summary ul{
    padding:10px 10px 0 10px;
    overflow: hidden;
}
.p-summary li{
    line-height: 30px;
}
.p-summary ul>li:first-child{
    font-size: 16px;
}
.p-summary li>label{
    display: inline-block;
    width: 50px;
    text-align: right;
}
.p-userInfo{
    position: absolute;
    height: 122px;
    width: 284px;
    left:14px;
    bottom:36px;
    background-color:rgba(255,255,255,0.70);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 25px;
    padding:8px;
}
.p-userInfo ul,
.p-userInfo li{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
}
.p-userInfo li{
    padding:5px 0;
}
.p-userInfo li *{
    vertical-align: middle;
}
.p-userInfo label{
    vertical-align: middle;
    display: inline-block;
    width: 95px;
    text-align: right;
    color: #000;
}

.p-userCard{
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
}
.p-userCard .p-cmp{
    display: inline-block;
    border:0;
}
.p-userCard .p-cmp .iconfont{
    color: #404040;
    display: inline-block;
}
.p-userCard .p-input{
    width: 175px;
    border:1px #858080 solid;
}
.p-userCard .iconfont{
    font-size: 31px;
    color: #444;
    vertical-align: middle;
}
.p-appInfo{
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
    color: #fff;
}
.p-appInfo label{
    margin-right: 30px;
}
.p-appName{
    float: right;
}

.p-barcode{
    display:-webkit-box;
    display:box;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
    line-height: 24px;
    padding:0 10px;
}
.p-barcode .p-input{
    -webkit-box-flex:1;
    box-flex:1;
    display: block;
    border:1px #858080 solid;
}
.p-barcode .iconfont{
    font-size:24px;
    color: #444;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: middle;
}
.p-barcode .icon-keyboard{
    font-size: 31px;
    font-weight: normal;
}
.p-userCard label,.p-barcode label{
    font-size: 16px;
    vertical-align: middle;
}




.p-radius{
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.p-btn{
    display: block;
    width: 100%;
    border:0;
    height: 35px;
    text-align: center;
    font-weight: normal;
}
.p-btn-xl{
    height: 42px;
    line-height: 42px;
    font-size: 17px;
}
.p-btn-xxl{
    height: 57px;
    line-height: 57px;
    font-size: 27px;
}
.p-btn-green{
    background-color: #659d15;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.p-btn-red{
    background-color: #b07063;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.p-btn-gray{
    background-color: #817c7c;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.p-btn-def{
    background-color: #91a3b7;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.p-btn-empty{
    text-shadow: 0 0 0;
    color: #93a3b7;
    border:1px #93a3b7 solid;
    background: #fff;
}

.p-input{
    border:0px;
    padding: 5px;
    height: 25px;
    border:1px #ddd solid;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}
.p-input-focus {
    border-color:#3eeaff!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    -webkit-animation:glow 800ms ease-out infinite alternate;
    animation:glow 800ms ease-out infinite alternate;
}
@-webkit-keyframes glow{
    0% {
        border-color: #b0e3f1;
        box-shadow: 0 0 5px rgba(0,255,255,0.2) inset 0 0 2px rgba(0,255,255,0.1),0 2px #000;
    }
    100% {
        border-color: #00e3ff;
        box-shadow: 0 0 20px rgba(0,255,255,0.6) inset 0 0 10px rgba(0,255,255,0.4),0 2px #000;
    }
}
@keyframes glow{
    0% {
        border-color: #b0e3f1;
        box-shadow: 0 0 5px rgba(0,255,255,0.2) inset 0 0 2px rgba(0,255,255,0.1),0 2px #000;
    }
    100% {
        border-color: #00e3ff;
        box-shadow: 0 0 20px rgba(0,255,255,0.6) inset 0 0 10px rgba(0,255,255,0.4),0 2px #000;
    }
}
.p-givingTag{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: url("../images/privilege.png") no-repeat 0 0;
    width: 58px;
    height: 58px;
}
.color-red{
    color: #AB6558;
}
.color-green{
    color: #85df49;
}
.color-green1{
    color: #6ba245;
}
.color-blue{
    color: #235270
}
.p-inline{
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.p-border-def{
    border:1px #ccc solid;
    color: #343434;
}
.p-border-err{
    border:1px #9f2121 solid;
    color: #9f2121;
}
.p-border-suc{
    border:1px #4c7a2c solid;
    color: #4c7a2c;
}
.p-border-disa{
    border:1px #ccc solid;
    color: #7e7e7e;
}

.p-keyboard,
.p-keyboard li{
    margin:0;
    padding: 0;
    list-style: none;
}
.p-keyboard{
    display: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border:10px rgba(0,0,0,0.2) solid;
    position: absolute;
    z-index: 10000;
    top:50%;
    left: 50%;
    height: 400px;
    width: 500px;
    background: #F5F5F5;
    margin-left: -250px;
    margin-top: -200px;
}
.p-keyboard li.text{
    width: 66.66%;
    padding:0;
    margin: 0;
    line-height: normal;
}
.p-keyboard li.text input{
    height: 100%;
    width: 100%;
    font-size: 26px;
    -moz-box-shadow: inset 0 0 10px #CCC;
    -webkit-box-shadow: inset 0 0 10px #CCC;
    box-shadow: inset 0 0 10px #CCC;
    border:0;
}
/* 没有效果 其它网站有效果 http://www.17sucai.com/pins/demoshow/4930
.p-keyboard li a{
    display: block;
    border:0;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    height: 100%;
}
.p-keyboard li a:active,
.p-keyboard li:active{
    background: #000;
}*/
.p-keyboard li{
    float: left;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 33.3%;
    box-sizing: border-box;
    border:1px #dedede solid;
    border-width: 0 1px 1px 0;
    font-size: 30px;
    color: #555;
}
.p-keyboard li .iconfont{
    font-size: 40px;
}
.p-keyboard li.w25{
    width: 25%;
}

.p-win{
    display: none;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}
.p-win-menuWrap{
    position: absolute;
    left: 0;
    top: 86px;
    bottom:0;
    width: 155px;
    overflow: hidden;
}
.p-win-menu{
    float: left;
    width: 155px;
    background: #91a3b7;
    color: #fff;
    height: 100%;
}
.p-win-menu ul,
.p-win-menu li{
    list-style: none;
    padding:0;
    margin: 0;
}
.p-win-menu li.seld{
    background: rgba(255,255,255,0.2);
}
.p-win-menu li{
    height: 55px;
    line-height: 55px;
    padding-left: 45px;
    font-size:16px;
    color: #fff;
}
.p-win-menu h3{
    text-align: center;
    padding:20px 0;
    margin: 0;
}
.p-win-menu h3 .iconfont{
    font-size: 42px;
    font-weight: normal;
}
.p-win-main{
    height: 100%;
    padding-left: 155px;
}
.p-win-panel{
    display: none;
}
.p-win-appTitle{
    font-size: 24px;
    padding:30px 0 0 28px;
}
.p-search{}
.p-search td{padding: 0 5px}
.p-search-lb{
    display: block;
    text-align: right;
    font-size: 14px;
    margin-right: 5px;
}
.p-text{
    width:100px;
    padding:0 5px;
    height: 30px;
    margin-right: 30px;
    border:1px #cbcbcb solid;
}
.p-cmp{
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    border:1px #cbcbcb solid;
}
.p-cmp .p-text{
    border:0;
    width: 100%;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin: 0;
    display: block;
    position: relative;
}
.p-cmp .iconfont{
    display: block;
    width: 30px;
    text-align: center;
    line-height: 30px;
    color: #91a3b7;
}
.p-cmp-keyboard{
    border:0;
}
.p-cmp-keyboard .p-text{
    border: 1px #cbcbcb solid;
}
.p-cmp-keyboard .iconfont{
    font-size: 32px;
    color: #404040;
}

.p-cmp-select{
    position: relative;
    border:1px #cbcbcb solid;
}
.p-cmp-select select{
    width: 100%;
    background: transparent;
    padding:0 5px;
    height: 30px;
    border: 0;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
}
.p-cmp-select:after{
    position: absolute;
    font-family: "iconfont" !important;
    content: "\e609";
    font-size: 24px;
    top:50%;
    right: 5px;
    color: #6a6565;
    margin-top: -12px;
    z-index: 1;
}

.p-search-btn{
    width: 95px;
    height: 35px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border:0;
    background: #91a3b7;
}
.jieBan-box{
    padding:125px 0 0 180px;
}
.jieBan-search{
    position: absolute;
    left: 185px;
    right: 30px;
    top: 100px;
}
.jieBan-search .p-text{
    width: 100%;
}
.jieBan-info,
.jieBan-info li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.jieBan-info{
    overflow: hidden;
    zoom:1;
    width: 600px;
    padding-top: 88px;
}
.jieBan-info>li{
    font-size: 14px;
    color: #404040;
    width: 50%;
    float: left;
}
.jieBan-info>li:first-child{
    font-size: 16px;
}
.jieBan-info p{
    padding: 0;
    margin: 0;
    height: 35px;
    line-height: 35px;
}

.jieBan-info label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
.jieBan-okBtn{
    width: 155px;
    height: 42px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    border:0;
    background: #91a3b7;
}
.jieBan-bottom{
    padding:100px 0;
    text-align: center;
}

.p-category{
    position: absolute;
    top:95px;
    left: 185px;
    bottom: 30px;
    margin: 0;
    padding: 0;
    background: #fff;
    border:1px #cbcbcb solid;
    border-radius: 5px;
    -webkit-border-radius:5px;
    width: 173px;
}
.p-category>h3{
    font-weight: normal;
    display: block;
    margin: 0 15px;
    padding: 15px 0;
    font-size: 13px;
    color: #404040;
    border-bottom: 1px #ececec solid;
}
.p-category ul,
.p-category li{
    padding:0;
    margin: 0;
    list-style: none;
}
.p-category li.seld{
    font-weight: bold;
    background: #f0f0f0;
}
.p-category li a{
    position: relative;
    display: block;
    margin: 0 15px;
    padding:15px 0;
    font-size: 13px;
    color: #404040;
    border-bottom: 1px #ececec solid;
}
.p-category li a i{
    position: absolute;
    right: 0;
    top:50%;
    margin-top: -8px;
    color: #adadad;
}
.p-category>ul>li ul li a{
    padding:15px 10px 15px 15px;
    margin: 0 15px;
}
.p-category>ul>li>ul>li>ul>li>a{
    padding:15px 10px 15px 30px;
}

.chaJiaGe-grid,
.kuCun-grid{
    position: absolute;
    left: 375px;
    top:143px;
    right: 30px;
    bottom:30px;
}

.chaJiaGe-grid .prdCode{width: 155px;padding:0 10px;}
.chaJiaGe-grid .prdName{}
.chaJiaGe-grid .prdUnit{width: 65px;padding:0 10px;}
.chaJiaGe-grid .prdPrice{width: 110px;padding:0 10px;}

.chaJiaGe-search,
.kuCun-search{
    position: absolute;
    font-size: 14px;
    left: 375px;
    top:96px;
    right: 30px;
}
.chaJiaGe-search .p-text{
    height: 30px;
    border:1px #cbcbcb solid;
    margin-right: 5px;
    padding: 0 10px;
    width: 100%;
}

.kuCun-search .p-text,
.kuCun-search .p-cmp-keyboard{
    margin-right: 5px;
    width: 100%;
}
.kuCun-grid .prdCode{ padding:0 10px;}
.kuCun-grid .prdName{padding:0 10px}
.kuCun-grid .prdCount{width:60px;padding:0 10px;}
.kuCun-grid .prdOper{width: 80px;padding: 0 10px; text-align: center}
.kuCun-grid  .p-grid-bd .prdOper .iconfont{
    font-size: 24px;
    color: #93a3b7;
}

.chuKuan-main{
    padding:147px 0 0 165px;
    width: 700px;
}
.chuKuan-main ul{
    overflow: hidden;
    zoom:1;
}
.chuKuan-main label{
    width: 80px;
    display: inline-block;
    text-align: right;
}
.chuKuan-main ul,
.chuKuan-main li{
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.chuKuan-main li{
    float: left;
    width: 280px;
    height: 30px;
    padding:5px 0;
    line-height: 30px;
}
.chuKuan-main li span{
    display: inline-block;
    vertical-align: middle;
}
.chuKuan-main .p-text{
    width: 100px;
    font-size: 16px;
}

.cuXiao-grid{
    position: absolute;
    top:82px;
    left: 185px;
    right: 30px;
    bottom:30px;
}
.cuXiao-grid .p-grid-hd,
.cuXiao-grid .p-grid-bd{
    border:1px #dedede solid;
    box-sizing: border-box;
}
.cuXiao-grid .p-grid-bd{
    border-top:0;
}
.cuXiao-grid tr.group{
    background: #f8f8f8;
}
.cuXiao-grid .prdCode{
    width: 150px;
    padding: 0 15px;
}
.cuXiao-grid .prdName{}
.cuXiao-grid .prdPrice{width: 96px;text-align: center}
.cuXiao-grid .prdCount{width: 110px;text-align: center}
.cuXiao-grid .prdOper{width: 75px;text-align: center}
.cuXiao-grid .prdOper i.iconfont{font-size: 30px;color: #93a3b7}
.cuXiao-grid .p-grid-bd .tr-hide td{
    height: 0px;
    font-size: 0;
    padding: 0;
    border:0;
    overflow: hidden;
}

.duiZhang-search{
    position: absolute;
    top:100px;
    left: 185px;
    right: 30px;
}
.duiZhang-search td{
    padding:0 5px;
}
.duiZhang-search .p-text{
    width: 100%;
    margin: 0;
}
.duiZhang-list,
.duiZhang-list li{margin:0;padding:0;list-style: none;}
.duiZhang-list{
    position: absolute;
    top:200px;
    left: 300px;
    right: 30px;
    overflow: hidden;
    zoom:1;
}
.duiZhang-list>li{
    float: left;
    font-size: 14px;
}
.duiZhang-list>li:first-child{
    font-size: 16px;
    padding-right: 190px;
}
.duiZhang-list p{
    margin:0;
    padding: 0;
    line-height: 35px;
}
.duiZhang-list label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
.payWays-total{
    padding: 50px 0 53px 205px;
    margin: 0 20px;
    border-bottom:1px #e0e0e0 dashed;
}
.payWays-total label{
    display: inline-block;
    font-size: 14px;
    color: #404040;
}
.payWays-total label:first-child{
    margin-right: 138px;
}
.payWays-total span{
    color: #93a3b7;
}
.payWays-form{
    padding: 30px 0  40px 120px;
}
.payWays-form table{
    width: 625px;
}
.payWays-form td{
    padding: 7px 5px;
    font-size: 14px;
}
.payWays-form .p-text{
    width: 190px;
    font-size: 13px;
}
.payWays-form td label{
    text-align: right;
    display:block;
}
.payWays-form td .cmp-scanner{
    height: 30px;
    border:1px #cbcbcb solid;
    margin-right: 10px;
}

.payWays-stat{
    padding:0px 0 52px 160px;
    margin: 0 20px;
    font-size: 17px;
    border-bottom:1px #e0e0e0 dashed;
}
.payWays-stat .def{
    color: #93a3b7;
}
.payWays-stat .warn{
    color: #c9452b;
}
.payWays-stat label{
    width: 190px;
    display: inline-block;
}

.win-grid{}
.win-grid .p-text{
    width: 100%;
}
.win-grid .p-grid-hd,
.win-grid .p-grid-bd
{
    border:1px #dedede solid;
    box-sizing: border-box;
}
.win-grid .p-grid-hd{
    border-bottom:0;
}
.win-grid .p-grid-bd td{
    padding-top:15px;
    padding-bottom:15px;
}


.huanHuo-oper{
    position: absolute;
    right: 30px;
    top:30px;
    width: 155px;
}
.huanHuo-grid{
    position: absolute;
    top:100px;
    bottom:100px;
    left: 185px;
    right: 30px;
}
.huanHuo-grid-new .p-grid-hd{
    background: #a6b4c4;
}
.huanHuo-grid .prdCode{width: 120px;padding: 0 10px;}
.huanHuo-grid .prdName{padding: 0 10px;}
.huanHuo-grid .prdCount{width: 50px;text-align: center;padding: 0 10px;}
.huanHuo-grid .prdDQSJ{width: 80px;text-align: center;padding: 0 10px;}
.huanHuo-grid .prdSJ{width: 80px;text-align: center;padding: 0 10px;}
.huanHuo-grid .prdXJ{width: 90px;text-align: center;padding: 0 10px;}
.huanHuo-grid .prdOper{width: 120px;text-align: center;padding: 0 10px;}
.huanHuo-grid .p-grid-bd .prdOper .iconfont{color: #9f2121; font-size: 24px;}

.huanHuo-grid .prdOper .p-btn{
    background:transparent;
    border:1px #91A3B7 solid;
    color: #93a3b7;
    display: inline-block;
    width: auto;
    padding: 5px 15px;
}
.huanHuo-form{
    position: absolute;
    left: 185px;
    right: 30px;
    bottom: 30px;
    font-size: 14px;
}
.huanHuo-form td{
    font-size: 14px;
}
.huanHuo-form .p-cmp .p-text{
    margin-right: 5px;
}
.huanHuo-lb{
    width: 95px;
    text-align: right;
}
.p-space{
    height: 45px;
}
.p-cmp-oper{
    margin:0 30px 20px;
    border-top:1px #e0e0e0 dashed;
    padding-top:33px;
    text-align: center;
}
.p-cmp-oper .p-btn{
    margin: auto;
    width: 155px;
    display: inline-block;
}

.tuiHuo-oper{
    position: absolute;
    right: 30px;
    top:30px;
    width: 155px;
}
.tuiHuo-grid{
    position: absolute;
    left: 185px;
    right: 30px;
    bottom: 100px;
    top: 100px;
}
.tuiHuo-grid .prdCode{padding:0 10px;width: 130px;}
.tuiHuo-grid .prdName{padding:0 10px;}
.tuiHuo-grid .prdCount{padding:0 10px;width: 50px;text-align: center;}
.tuiHuo-grid .prdSJ{padding:0 10px;width: 85px;text-align: center;}
.tuiHuo-grid .prdXJ{padding:0 10px;width:90px;text-align: center; }
.tuiHuo-grid .prdOper{padding:0 10px;text-align: center;width: 120px;}
.tuiHuo-grid .prdOper .p-btn{
    background:transparent;
    border:1px #91A3B7 solid;
    color: #93a3b7;
    display: inline-block;
    width: auto;
    padding: 5px 15px;
}
.tuiHuo-grid .prdOper .disable{
    opacity: 0.5;
}
.tuiHuo-form{position: absolute;left: 185px;bottom: 30px;right: 30px;}
.tuiHuo-form td{
    font-size: 14px;
}
.tuiHuo-form .p-cmp .p-text{
    margin-right: 5px;
}
.tuiHuo-lb{
    width: 95px;
    text-align: right;
}
.payWays-msg{
    padding:208px 0 0 340px;
}
.payWays-msg .status{
    font-size: 30px;
    color: #8cc152;
}
.payWays-msg .status .iconfont{
    font-size: 60px;
    margin-right: 36px;
}
.payWays-msg .content{
    font-size: 16px;
    color: #888;
    padding-top:55px;
}
.payWays-msg .content .time{
    font-size: 24px;
    color: #c9452b;
    margin-right: 10px;
}
.cashPay-main{
    padding:147px 0 0 330px;
    font-size: 14px;
    color: #404040;
}
.cashPay-main span{
    color: #91a3b7;
}
.cashPay-main div{
    padding-bottom:25px;
}
.cashPay-main .p-text{
    width: 150px;
}
.cashPay-main label{
    display: inline-block;
    width: 100px;
    text-align: right;
}

.selectPayWay-head{
    padding:110px 0 45px 175px;
    font-size: 14px;
    margin: 0 30px;
    border-bottom:1px #e0e0e0 dashed;
}
.selectPayWay-head .p-text{
    width: 150px;
}
.selectPayWay-head label{
    display: block;
    text-align: right;
}
.selectPayWay-head  span{
    color: #91a3b7;
    font-size: 16px;
}
.selectPayWay-list,
.selectPayWay-list li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.selectPayWay-list{
    padding:25px 0 25px 190px;
    overflow: hidden;
    zoom:1;
    width: 510px;
}
.selectPayWay-list li{
    float: left;
    width: 250px;
    font-size: 18px;
    color: #404040;
    line-height: 75px;
}
.selectPayWay-list li p{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.selectPayWay-list li *{
    vertical-align: middle;
}
.p-icon1,
.p-icon2,
.p-icon3,
.p-icon4,
.p-icon5,
.p-icon6{
    width: 75px;
    height: 75px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 25px;
}
.p-icon1{background-image: url(../images/rmb.png);}
.p-icon2{background-image: url(../images/zhifubao.png);}
.p-icon3{background-image: url(../images/daijinquan.png);}
.p-icon4{background-image: url(../images/weixin.png);}
.p-icon5{background-image: url(../images/yinlianka.png);}
.p-icon6{background-image: url(../images/chuzhika.png);}

.bankPay-main{
    padding:146px 0 0 300px;
}
.bankPay-main div{
    padding-bottom:15px;
    font-size: 14px;
}
.bankPay-main .unit{
    color: #91a3b7;
}
.bankPay-main label{
    display: inline-block;
    width: 100px;
    text-align: right;
}
.bankPay-main .p-text{
    width: 190px;
}

.scanPay-head{
    padding:110px 0 53px 150px;
    border-bottom:1px #e0e0e0 dashed;
    margin: 0 30px;
    font-size: 14px;
    color: #404040;
}
.scanPay-head table{
    width: 550px;
}
.scanPay-head label{
    display: block;
    text-align: right;
}
.scanPay-head .price{
    color: #91a3b7;
}
.scanPay-head .back{
    color: #b53434;
}
.scanPay-body{
    padding: 45px 0;
    text-align: center;
    font-size: 14px;
    color: #888;
}
.scanPay-code{
    display: inline-block;
    margin: auto;
    padding: 5px;
    border:1px #ddd solid;
}
.guaDan-grid{
    margin: 50px 30px 0;
    position: absolute;
    top:50px;
    left:155px;
    right: 30px;
    bottom:30px;
}
.guaDan-grid .ordNumber{width: 100px;padding:0 10px;text-align: center;}
.guaDan-grid .ordTime{width: 100px;padding:0 10px;text-align: center;}
.guaDan-grid .ordCount{text-align: center;}
.guaDan-grid .ordTotal{text-align: center;}
.guaDan-grid .ordOper{width: 150px;padding:0 10px;text-align: center}

.guaDan-grid .ordOper a{
    display: inline-block;
    margin: 0 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border:1px #dedede solid;
    line-height: normal;
    padding: 5px 10px;
}
.guaDan-grid .ordOper .read{
    border-color:#789D5E;
    color: #789D5E;
}
.guaDan-grid .ordOper .cancel{
    border-color:#404040;
    color: #404040;
}
.chaDingDan-grid{
    position: absolute;
    top:150px;
    left:185px;
    right: 30px;
    bottom:30px;
}
.chaDingDan-grid .ordNumber{padding:0 10px;}
.chaDingDan-grid .ordCount{width: 100px;padding:0 10px;text-align: center;}
.chaDingDan-grid .ordTime{width: 120px;padding:0 10px;text-align: center;}
.chaDingDan-grid .ordOper{width: 120px;padding:0 10px;text-align: center}
.chaDingDan-grid  .p-grid-bd .ordOper .iconfont{
    font-size:24px;
    color: #93a3b7;
}
.chaDingDan-search{
    position: absolute;
    top:100px;
    left: 185px;
    right: 30px;
}
.chaDingDan-search td{
    padding:0 5px;
}
.riJie-search{
    position: absolute;
    top:100px;
    left:185px;
    right: 30px;
}
.riJie-search td{
    padding:0 5px;
}
.riJie-grid{
    position: absolute;
    top:150px;
    left: 185px;
    right: 30px;
    height:150px;
}
.riJie-grid .JYName{
    padding:0 10px;
}
.riJie-grid .JYCount{
    padding:0 10px;
}
.riJie-grid .JYMoney{
    padding:0 10px;
}
.riJie-order{
    position: absolute;
    top: 320px;
    left: 185px;
    right: 30px;
    bottom: 30px;
}
.riJie-order .p-grid-bd{
    top:0;
    font-size: 14px;
}

.riJie-order .p-grid-bd dl,
.riJie-order .p-grid-bd dt,
.riJie-order .p-grid-bd dd{
    list-style: none;
    padding: 0;
    margin: 0;
}
.riJie-order .p-grid-bd dl{
    display: -webkit-box;
    display: box;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    padding:40px 0 10px;
    border-bottom: 1px #ccc dashed;
}
.riJie-order .p-grid-bd dt{
    position: absolute;
    width: 100%;
    top:0px;
    box-sizing: border-box;
    padding:10px;
}
.riJie-order .p-grid-bd dd{
    -webkit-box-flex: 1;
    box-flex: 1;
    padding:0 10px;
    margin: 0;
    position: relative;
}
.riJie-order .p-grid-bd dt span{
    color: #93a3b7;
}
.riJie-order .p-grid-bd dd div{
    color: #93a3b7;
    font-size: 12px;
    padding-left:20px;
}
.riJie-order .p-grid-bd dd p{
    padding-bottom: 5px ;
    line-height: 25px;
    margin: 0;
}
.riJie-order .p-grid-bd dd:last-child label{
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}

.p-pop{
    display: none;
    position: absolute;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border:10px rgba(0,0,0,0.2) solid;
    position: absolute;
    z-index: 100;
    top:50%;
    left: 50%;
    width: 500px;
    background: #F5F5F5;
    margin-left: -250px;
    margin-top: -160px;
}
.p-pop-bd{
    padding: 50px;
    font-size: 16px;
}
.p-pop-bd .p-table td{
    padding: 10px 0;
    color: #404040;
}
.p-pop-bd .p-text{
    width: 100%;
    height: 40px;
}
.p-pop-ft{
    border-top: 1px #ccc solid;
    overflow: hidden;
    zoom:1;
}
.p-pop-ft .p-btn{
    height: 70px;
    float: left;
    width: 50%;
    color: #404040;
    font-size: 18px;
    background: #F5F5F5;
    border-right:1px #ccc solid;
}
.p-pop-ft .p-btn:active{
    background:#ddd;
}