/**
 * Created by Administrator on 15-9-18.
 */
html,body{
    display: block;
    height: 100%;
    width:100%;
    overflow: hidden;
    margin:0;
    padding:0;
}
body{
    font-size: 12px;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

button,input,textarea,select{
    outline: 0;
    box-sizing: border-box;
    font-family: Microsoft Yahei, "Helvetica Neue", Helvetica, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.lg-bg1{
    background: url(../images/login-bg1.jpg) no-repeat 50% 50%;
}
.lg-bg2{
    background: url(../images/login-bg2.jpg) no-repeat 50% 50%;
}
.lg-bg3{
    background: url(../images/login-bg3.jpg) no-repeat 50% 50%;
}
.lg-bg4{
    background: url(../images/login-bg4.jpg) no-repeat 50% 50%;
}
.lg-bg5{
    background: url(../images/login-bg5.jpg) no-repeat 50% 50%;
}
.lg-bg6{
    background: url(../images/login-bg6.jpg) no-repeat 50% 50%;
}
.lg-bg7{
    background: url(../images/login-bg7.jpg) no-repeat 50% 50%;
}
.lg-bg8{
    background: url(../images/login-bg8.jpg) no-repeat 50% 50%;
}
.lg-head{
    background: rgba(114,114,117,0.36);
    color: #cbcbcb;
    font-size: 14px;
    height: 43px;
    line-height: 43px;
}
.lg-head-rt{
    float: right;
    height: 43px;
    width: 43px;
    text-align: center;
    line-height: 43px;
    background:rgba(160,160,160,0.36);
}
.lg-head-rt .iconfont{
    font-size: 22px;
}
.lg-head-lt{
    float: left;
    padding-left: 10px;
}
.lg-logo{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/logo1.png) no-repeat 0 0;
}
.lg-form{
    width: 295px;
    height: 185px;
    position:absolute;
    top:50%;
    left:50%;
    margin: -93px 0 0 -147px;
}
.lg-cmp{
    background: #fff;
    height: 49px;
    line-height: 49px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display:-webkit-box;
    display:box;
    -webkit-box-orient:horizontal;
    box-orient:horizontal;
    margin-bottom: 15px;
}
.lg-cmp>.iconfont{
    font-size: 30px;
    color: #333;
    display: block;
    width: 35px;
    text-align: center;
    position: relative;
    z-index: 100;
}
.lg-cmp>input[type=text],
.lg-cmp>input[type=password]{
    display: block;
    -webkit-box-flex:1;
    box-flex:1;
    width: 100%;
    height: 40px;
    margin-top:5px;
    border:0;
    outline: 0;
    font-size: 17px;
    vertical-align: middle;
}
.lg-button{
    height: 57px;
    display: block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    background:#20a393;
    font-size: 23px;
    color: #eaeaea;
    border:0;
    text-align: center;
    width: 100%;
    box-shadow:0 0 1px #9d9d9d;
}
.lg-version{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 14px;
    color: #eaeaea;
    line-height: 25px;
    padding:5px;
}

.lg-setting{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.lg-setting td{
    padding:5px;
}
.lg-lb{
    text-align: right;
}
.lg-text{
    border-radius: 5px;
    padding: 5px;
    height: 35px;
    width: 100%;
    border:1px #ccc solid;
}
.lg-setting-btn{
    display: block;
    width: 100%;
    height: 42px;
    color: #fff;
    line-height: 42px;
    font-size: 17px;
    border:0;
    border-radius: 5px;
    background-color: #659d15;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.lg-text[readonly]{
    background: #eee;
}