<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--ADO.NET 方法使用-->
  <add key="ConnEncrypt" value="False" />
  <!--<add key="ConnectionString" value="F9A38AFBEC7BCB080C03BEC6A5603DC577AF0825300F657BE40CEACCAD2A41187B536454CA328957EA086EE35E7456169A3E689B608D7318688A871BAB47E0C2B3D4CD976ADDF5A2780574D25EBEE31E402C837C19B87500" />-->
  <!--<add key="ConnectionString" value="Data Source=27.154.234.10,3341;database=Pharos_Dev;uid=pharos_admin;pwd=pharos_admin;Pooling=true;" />-->
  <add key="ConnectionString" value="Data Source=192.168.10.222;database=Pharos_dev;uid=sa;pwd=pharos;Pooling=true;" />
  <!--<add key="ConnectionString" value="Data Source=.;Initial Catalog=dongben_beta;Integrated Security=True;" />-->
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--促销时段-->
  <add key="TimeLine" value="09:00,11:00,14:00,16:00,," />
  <add key="SMSApi" value="http://114.80.227.125:8181/mtutf8/,http://112.65.228.196:8181/mtutf8/" />
  <!--POS app 显示信息-->
  <add key="FullName" value="欢迎使用道诚.科技 商业管理软件" />
  <add key="Name" value="道诚 · 科技　商业管理软件" />
  <add key="IconUrl" value="http://27.154.234.10:8012/images/logo1.png" />
  <!--API路径-->
  <add key="AppUrl" value="http://27.154.234.10:8012/api/" />
  <add key="CompanyId" value="6" />
  <add key="SerialNo" value="" />
  <!--管理员角色ID-->
  <add key="superRoleId" value="9" />
  <add key="adminRoleId" value="4" />
  <!--远程管理-->
  <add key="omsurl" value="http://192.168.10.122:8015/" />
  <!--<add key="omsurl" value="http://27.154.234.10:8015/" />-->
  <!--版本，1是单商户版本，空值为多商户版本-->
  <add key="ver" value="" />
  <!--登录的电话-->
  <add key="phone" value="4006-877-999" />
  <add key="superpwd" value="955903cef35d7c975a167a8ee38654d1" />
  <!--产品图像大小-->
  <add key="productimage" value="200" />
  <add key="productthumbnail" value="120*120" />
</appSettings>