* { font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
body { font-size: 75%; }
* { padding: 0; margin: 0; outline: 0; }
ul, li { list-style: none; }
a, a:link { text-decoration: none; }
img { border: 0; }
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px white inset; }
i{font-weight:normal;font-style:normal;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

body { *position: relative; }
.tl-c { text-align: center; }
.tl-r { text-align: right; }
.tl-l { text-align: left; }
