
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-lock:before { content: "\e604"; }
.icon-arrow-down:before { content: "\e609"; }
.icon-setting:before { content: "\e60f"; }
.icon-tag:before { content: "\e610"; }
.icon-add:before { content: "\e615"; }
.icon-money:before { content: "\e600"; }
.icon-arrow-up:before { content: "\e61a"; }
.icon-arrow-down1:before { content: "\e61b"; }
.icon-covered:before { content: "\e601"; }
.icon-out:before { content: "\e602"; }
.icon-close:before { content: "\e60a"; }
.icon-user:before { content: "\e60b"; }
.icon-change:before { content: "\e603"; }
.icon-minus:before { content: "\e616"; }
.icon-backspace:before { content: "\e613"; }
.icon-arrow-right:before { content: "\e60c"; }
.icon-arrow-up1:before { content: "\e60d"; }
.icon-menu:before { content: "\e619"; }
.icon-round-right:before { content: "\e611"; }
.icon-round-left:before { content: "\e612"; }
.icon-round-right1:before { content: "\e605"; }
.icon-date:before { content: "\e61c"; }
.icon-duigou:before { content: "\e61d"; }
.icon-arrow-left:before { content: "\e60e"; }
.icon-keyboard:before { content: "\e617"; }
.icon-import:before { content: "\e606"; }
.icon-export:before { content: "\e607"; }
.icon-search:before { content: "\e608"; }
.icon-right:before { content: "\e614"; }
.icon-rmb:before { content: "\e622"; }
.icon-chuanshuju:before { content: "\e621"; }
.icon-churukuan:before { content: "\e623"; }
.icon-huanhuo:before { content: "\e624"; }
.icon-tuihuo:before { content: "\e625"; }
.icon-chadingdan:before { content: "\e626"; }
.icon-chajiage:before { content: "\e627"; }
.icon-rijie:before { content: "\e628"; }
.icon-gouwuche:before { content: "\e618"; }
.icon-delete:before { content: "\e629"; }
.icon-dudan:before { content: "\e61e"; }
