

.form-group {
  position: relative;
  font-size: 15px;
  color: #666;
}
.form-group + .form-group {
  margin-top: 30px;
}
.form-group .form-label {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.form-group .form-control {
  width: 100%;
  position: relative;
  z-index: 3;
  height: 35px;
  background: none;
  border: none;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #777;
}
.form-group .form-control:invalid {
  outline: none;
}
.form-group .form-control:focus, .form-group .form-control:valid {
  outline: none;
  color: #FF4081;
  box-shadow: 0 1px #FF4081;
  border-color: #FF4081;
}
.form-group .form-control:focus + .form-label, .form-group .form-control:valid + .form-label {
  font-size: 12px;
  -ms-transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.floating-btn {
  background: #FF4081;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 32px;
  border: none;
  position: absolute;
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.3) inset;
  margin: auto;
  right: -30px;
  bottom: 90px;
  cursor: pointer;
}
.floating-btn:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3) inset, 0 3px 6px rgba(0, 0, 0, 0.16), 0 5px 11px rgba(0, 0, 0, 0.23);
}
.floating-btn:hover .icon-arrow {
  -ms-transform: rotate(45deg) scale(1.2);
  -webkit-transform: rotate(45deg) scale(1.2);
  transform: rotate(45deg) scale(1.2);
}
.floating-btn:focus, .floating-btn:active {
  outline: none;
}

.icon-arrow {
  position: relative;
  width: 13px;
  height: 13px;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  display: block;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.icon-arrow:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 3px;
  background: #fff;
  left: -5px;
  top: 5px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}