.icon-up {
    background: url('icons/custom_up.gif') no-repeat center center;
}

.icon-view {
    background: url('icons/custom_view.gif') no-repeat center center;
}

.icon-setting {
    background: url('icons/custom_setting.png') no-repeat center center;
}
.custom-add {
    background: url('icons/custom_add.png') no-repeat center center;
}
.custom-edit {
    background: url('icons/custom_edit.png') no-repeat center center;
}
.custom-del {
    background: url('icons/custom_del.png') no-repeat center center;
}
.custom-search {
    background: url('icons/custom_search.png') no-repeat center center;
}