<div class="footer">
    <img src="@Url.Content("~/Content/mythemes/default/images/pharoslogo.png")" />
    Copyright © <a target="_blank" href="http://www.xmpharos.com/" style="color: #333;">www.xmpharos.com</a> 2014-@DateTime.Now.Year
</div>