<div class="footer">
    <img src="@Url.Content("~/SysImg/pharoslogo.png")" />
    Copyright © <a target="_blank" href="http://www.qcterp.com" style="color: #333;">www.qcterp.com</a> 2014-@DateTime.Now.Year
</div>