@model Pharos.MSPP.Retailing.Controllers.UserLogin
@{
    ViewBag.Title = "供应商后台管理";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<link href="~/Content/mythemes/default/login-supper.css" rel="stylesheet" />
<a href="http://www.xmpharos.com/" target="_blank"><span class="logo" /></a>
<div class="login-box">
    @using (Html.BeginForm())
    {
        <table class="login">
            <tr>
                <td style="width:20px;"></td>
                <td class="user-left"></td>
                <td colspan="2"><input type="text" name="userName" id="userName" placeholder="帐户名称" class="user-right" onkeyup="if (window.event.keyCode == 13) $('#userPwd').focus()" value="@Model.UserName" /></td>
                <td style="width:20px;"></td>
            </tr>
            <tr style="height:25px;"></tr>
            <tr>
                <td style="width:20px;"></td>
                <td class="password-left"></td>
                <td colspan="2"><input type="password" name="userPwd" id="userPwd" placeholder="帐户密码" class="user-right" onkeyup="if (window.event.keyCode == 13) $('form').submit()" value="@Model.UserPwd" /></td>
                <td style="width:20px;"></td>
            </tr>
            <tr style="height:25px;"></tr>
            <tr>
                <td colspan="5" class="line"></td>
            </tr>
        </table>

        <table class="login margin-25">
            <tr>
                <td style="width:16px;">
                    @Html.CheckBox("rememberMe", new { value = "true" })
                </td>
                <td class="font-color font-size padding-15"><label for="rememberMe">记住我的账户名称</label></td>
                <td class="login-button">
                    <button type="submit">登&nbsp;录</button>
                </td>
            </tr>
        </table>
        <ul class="error"><li class="flag"></li><li class="text">@ViewBag.msg</li></ul>
    }
</div>
<div class="browser"></div>
@section scripts{
<script type="text/javascript">
    $(function () {
        if ($(".text").html() != "")
            $(".error").show();
        $("form").submit(function () {
            $("#userName").val($.trim($("#userName").val()));
            $("#userPwd").val($.trim($("#userPwd").val()));
            //var reg = new RegExp("^[a-zA-Z]{1}[0-9a-zA-Z_]{1,9}$");
            //if (reg.test($("#userName").val()) == false) {
            //    $("#msg").html("<p>Username must start with a letter,it can only contain letters, numbers, underscores,and its length should be more than 2 and less than 10. </p>"); //用户名应以字母开头，只能含有字母数字下划线，长度大于2位小于10位
            //    return false;
            //}
            if ($("#userName").val() == "") {
                $(".error").css({ top: "10px" }).show().find(".text").html("请输入帐户名称.");
                return false;
            }
            if ($("#userPwd").val() == "") {
                $(".error").css({ top: "95px" }).show().find(".text").html("请输入帐户密码.");
                return false;
            }
            return true;
        });
    });
</script>
}