@{
    ViewBag.Title = "文件预览";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<script src="~/Scripts/pdfobject.js"></script>
<div id="preview"></div>

<script type="text/javascript">
    window.onload = function () {
        var options = {
            pdfOpenParams: {
                pagemode: "thumbs",
                navpanes: 0,
                toolbar: 0,
                statusbar: 0,
                view: "FitV"
            }
        };
        var mypdf = PDFObject.embed("/@ViewBag.filename", "#preview", options);
        $(".pdfobject-container").height($(window).height()-20);
    };
</script>