.cus1,.cus1:hover{
	color: #fff;
	border-color: #8cc152;
	background: #8cc152;
	background: -webkit-linear-gradient(top,#8cc152 0,#8cc152 100%);
	background: -moz-linear-gradient(top,#8cc152 0,#8cc152 100%);
	background: -o-linear-gradient(top,#8cc152 0,#8cc152 100%);
	background: linear-gradient(to bottom,#8cc152 0,#8cc152 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8cc152,endColorstr=#8cc152,GradientType=0);
}
a.cus1:hover{
	background: #a0d468;
	filter: none;
}
.cus2,.cus2:hover{
	color: #fff;
	border-color: #37bc9b;
	background: #37bc9b;
	background: -webkit-linear-gradient(top,#37bc9b 0,#37bc9b 100%);
	background: -moz-linear-gradient(top,#37bc9b 0,#37bc9b 100%);
	background: -o-linear-gradient(top,#37bc9b 0,#37bc9b 100%);
	background: linear-gradient(to bottom,#37bc9b 0,#37bc9b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#37bc9b,endColorstr=#37bc9b,GradientType=0);
}
a.cus2:hover{
	background: #48cfad;
	filter: none;
}
.cus3,.cus3:hover{
	color: red;
	border-color: #aab2bd;
	background: #ffffff;
	background: -webkit-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -moz-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: -o-linear-gradient(top,#ffffff 0,#ffffff 100%);
	background: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#ffffff,GradientType=0);
}
a.cus3:hover{
	background: #ccd1d9;
	filter: none;
}
.cus4,.cus4:hover{
	color: #fff;
	border-color: #3bafda;
	background: #3bafda;
	background: -webkit-linear-gradient(top,#3bafda 0,#3bafda 100%);
	background: -moz-linear-gradient(top,#3bafda 0,#3bafda 100%);
	background: -o-linear-gradient(top,#3bafda 0,#3bafda 100%);
	background: linear-gradient(to bottom,#3bafda 0,#3bafda 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3bafda,endColorstr=#3bafda,GradientType=0);
}
a.cus4:hover{
	background: #4fc1e9;
	filter: none;
}
