@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    ViewData.OpBtnInfo(new OpBtnInfo(addText: "新增登录账号", hideDel: true, searchHeight: 87));
}

<style type="text/css">
    .table-toolbar .s_tr td {
        padding-top: 9px;
    }
</style>

@section search{
    <table class="table-toolbar">
        <tr>
            <td class="label-toolbar">
                <label>代理商编号：</label>
            </td>
            <td class="input-toolbar">
                @Html.TextBox("AgentsId", new { @class = "easyui-combobox", data_options = "required:true,prompt:'请输入',width:120,editable:true,mode:'remote',valueField:'AgentsId',textField:'AgentsId',loader:comboload" })
            </td>
            <td class="label-toolbar">
                <label>姓名：</label>
            </td>
            <td class="input-toolbar">
                <input name="FullName" class="datacontrol easyui-textbox font-12" placeholder="" data-options="prompt:'',width:150" />
            </td>
            <td class="label-toolbar">
                <label>登录账号：</label>
            </td>
            <td class="input-toolbar">
                <input name="LoginName" class="datacontrol easyui-textbox font-12" placeholder="" data-options="prompt:'',width:150" />
            </td>
            <td class="label-toolbar">
                <label>账号类型：</label>
            </td>
            <td class="input-toolbar">
                @Html.DropDownList("AgentType", new List<SelectListItem>() { new SelectListItem() { Text = "全部", Value = "" }, new SelectListItem() { Text = "主账号", Value = "1" }, new SelectListItem() { Text = "普通账号", Value = "2" } }, new { @class = "easyui-combobox datacontrol", data_options = "editable: false,width:120" })
            </td>

        </tr>

    </table>
}
@section toolbar
{
    <a href="#" class="easyui-linkbutton cus1 linkbtn" data-options="iconCls:'icon-stale'" onclick="upStatus(1)">将所选项设为正常</a>
    <a href="#" class="easyui-linkbutton cus1 linkbtn" data-options="iconCls:'icon-stale'" onclick="upStatus(0)">将所选项设为停用</a>
}
<script type="text/javascript">

    var comboRows = [];
    var comboload = function (param, success, error) {
        //获取输入的值
        var q = param.q || "";
        //此处q的length代表输入多少个字符后开始查询
        if (q.length <= 0) return false;
        var $combo = $(this);

        var id = getUrlParam('id');
        if (id == null) {
            id = 0;
        }
        $.ajax({
            url: "@Url.Action("getAgentsIdWhere", "AgentsInfo")",
            type: "post",
        data: {
            //传值，还是JSON数据搜索
            keyword: q,
            id:id
        },
        dataType: "json",
        success: function (data) {
            comboRows = data.rows;
            //关键步骤，遍历一个MAP对象
            var items = $.map(data.rows, function (item) {
                return { AgentsId: item.AgentsId, AgentsId: item.AgentsId };
            });
            //执行loader的success方法
            success(items);
        },    //异常处理
        error: function (xml, text, msg) {
            error.apply(this, arguments);
        }
    });
    }

    pharos.manager.$dg.datagrid({
        rowStyler: function (index, row) {
            if (row.Status == 0) return 'background-color:#ede9e9;color:#9d9c9c';
        }
    })

    pharos.manager.columns = [[
        { field: 'Id', checkbox: true },
        { field: 'AgentsId', title: '代理商编号', editor: { type: 'text', required: true }, width: 100 },
        { field: 'FullName', title: '姓名', editor: { type: 'text', required: true }, width: 120 },
        { field: 'LoginName', title: '登录账号', editor: { type: 'text', required: true }, width: 100 },
        {
            field: 'AgentType', title: '账号类型', editor: { type: 'text', required: true }, width: 100, formatter: function (value, row, index) {
                if (value == "0") {
                    return "无";
                } else if (value == "1") {
                    return "主账号";
                } else if (value == "2") {
                    return "普通账号";
                }
            }
        },
        { field: 'CreateTime', title: '创建时间', editor: { type: 'text', required: true }, width: 100 },
        { field: 'LatestLogin', title: '最新登录', editor: { type: 'text', required: true }, width: 120 },
        {
            field: 'Status', title: '状态', editor: { type: 'text', required: true }, width: 100, formatter: function (value, row, index) {
                if (value == "0") {
                    return "停用";
                } else if (value == "1") {
                    return "正常";
                } 
            }
        },
        { field: 'Memo', title: '备注', editor: { type: 'text', required: true }, width: 200 }
    ]];

    pharos.manager.addItem = function () {
        this.Id = "";
        openWin({ 'title': this.addText, 'width': 500, 'height': 300, hideSave: false, 'url': this.editurlNocache() });
    };

    pharos.manager.editItem = function (id, row) {
        this.Id = id;
        openWin({ 'title': this.editText, 'width': 500, 'height': 300, hideSave: false, 'url': this.editurlNocache() });
    }



    //将所选项设为
    function upStatus(s) {
        var rows = pharos.manager.selectItems();
        if (!rows) return;
        var ids = $.map(rows, function (item) {
            return item.Id;
        }).join();
        $.post("@Url.Action("upStatus")", { ids: ids, Status:s, t: Math.random()}, function (d) {
            if (d.successed) {
                $.messager.alert("提示", "设置成功！", "info");
                pharos.manager.gridReload();
            } else {
                $.messager.alert("提示", "设置失败！" + d.message, "error");
            }
        }, "json");
    }


    $(function () {

    });
</script>


