@{
    ViewBag.Title = "CategorySave";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<style type="text/css">
    .table-form tr {
        height: 32px;
    }

</style>
<div class="default-form">
    @using (Html.BeginForm())
    {
        @*@Html.HiddenFor(o => o.Id)*@
        <div class="content">
            <table class="table-form" width="100%">
                <tr>
                    <td class="name">隶属栏目：</td>
                    <td class="input">
                        <select class="easyui-combobox">
                            <option>栏目一</option>
                            <option>栏目二</option>
                            <option>栏目三</option>
                        </select>
                    </td>
                    <td class="name">栏目类型：</td>
                    <td class="input">
                        <select class="easyui-combobox">
                            <option>资讯信息</option>
                            <option>栏目编辑</option>
                            <option>产品列表</option>
                        </select>
                        @*@Html.RadioButtonListFor(o => o.Insider, new List<SelectListItem>() { new SelectListItem() { Value = "资讯信息", Selected = true }, new SelectListItem() { Value = "栏目编辑" }, new SelectListItem() { Value = "产品列表" } })*@
                    </td>           
                </tr>
                <tr>
                    <td class="name">栏目名称(电脑端)：</td>
                    <td class="input">
                        @Html.TextBox("category", "", new { @class = "easyui-textbox" })
                        @*@Html.TextBoxFor(o => o.RealName, new { @class = "easyui-textbox", data_options = "" })*@
                    </td>
                    <td class="name">栏目名称(手机端)：</td>
                    <td class="input">
                        @Html.TextBox("category", "", new { @class = "easyui-textbox" })
                        @*@Html.TextBoxFor(o => o.MemberCardNum, new { @class = "easyui-textbox" })*@
                    </td>
                </tr>
                <tr>
                    <td class="name">页面名称：</td>
                    <td class="input">
                        @Html.TextBox("category", "", new { @class = "easyui-textbox" })
                        @*@Html.TextBoxFor(o => o.MobilePhone, new { @class = "easyui-textbox", data_options = "required:true" })*@
                    </td>
                    <td class="name">设为主菜单：</td>
                    <td class="input">
                        <input type="radio" name="zcd" value="" checked="checked" /> 是
                        <input type="radio" name="zcd" value="" /> 否
                        @*@Html.RadioButtonListFor(o => o.Insider1, new List<SelectListItem>() { new SelectListItem() { Value = "是", Selected = true }, new SelectListItem() { Value = "否" } })*@
                    </td>
                </tr>
                <tr>
                    <td class="name">主题图片：</td>
                    <td class="input">
                        <input type="file" />
                        @*@Html.TextBoxFor(o => o.Email, new { @class = "easyui-textbox", data_options = "validType:'email'" })*@
                    </td>
                </tr>
                <tr>                    
                    <td class="name">状态(电脑端)：</td>
                    <td class="input">
                        <input type="radio" name="zt" value="" checked="checked" /> 显示
                        <input type="radio" name="zt" value="" /> 关闭
                        @*@Html.RadioButtonListFor(o => o.Insider2, new List<SelectListItem>() { new SelectListItem() { Value = "显示", Selected = true }, new SelectListItem() { Value = "关闭" } })*@
                    </td>
                    <td class="name">状态(手机端)：</td>
                    <td class="input">
                        <input type="radio" name="zt" value="" checked="checked" /> 显示
                        <input type="radio" name="zt" value="" /> 关闭
                        @*@Html.RadioButtonListFor(o => o.Insider2, new List<SelectListItem>() { new SelectListItem() { Value = "显示", Selected = true }, new SelectListItem() { Value = "关闭" } })*@
                    </td>
                </tr>
                
                
            </table>
        </div>
    }
</div>

